﻿
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">

    <center>
        <div>   <img class="img-responsive" src="~/Images/RestaurantLogo.png" />  </div>

        <div class="row">
            <div class="col-md-4">
                <form action="/Home/Tables" method="post">
                    <button type="submit" class="btn btn-primary btn-lg"> Nouvelle Commande</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action="/Home/Commandes" method="post">
                    <button type="submit" class="btn btn-primary btn-lg">Commandes en cours</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action="/Home/Bilan" method="post">
                    <button type="submit" class="btn btn-primary btn-lg">Bilan des commades</button>
                </form>
            </div>
        </div>
    </center>
</div>