﻿@model IEnumerable<GestionRestaurant.Models.Table>

@{
    ViewBag.Title = "Bilan des commandes";
}

<h2>Bilan des commandes</h2>


<table class="table">
    <tr>
        <th>
            Table
        </th>
        <th>
            Nombre de commandes
        </th>
        <th>
            Montant total
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.nbCommandes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
    </tr>
}
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
            <h3>  TOTAL  :  @Session["totalGeneral"] dhs</h3> 
        </td>
    </tr>
</table>
