﻿@using GestionRestaurant.Models;
@{
    ViewBag.Title = "Commandes";
    List<Commande> liste = new List<Commande>();
    liste = ViewBag.liste;
}


<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            ID Commande
        </th>
        <th>
            Numero de table
        </th>
        <th>
            Prix total
        </th>
        <th>
            Etat
        </th>
        <th></th>
    </tr>

    @foreach (Commande cmd in liste)
    {
        <tr>
            <td>
                @cmd.id
            </td>
            <td>
               @cmd.table
            </td>
            <td>
               @cmd.total
            </td>
            <td>
               @cmd.etat
            </td>
            <td>
               
                @if (cmd.etat.ToString().Equals("servie"))
                {
                    @Html.ActionLink("Payer facture", "ChangerEtatServeur", new { id = cmd.id }, new { onclick = "return confirm('facture payee ? Elle sera supprimee de la liste !!')" })
                }
                @if (cmd.etat.ToString().Equals("nouvelle"))
                {
                    @Html.ActionLink("Modifier |", "ModifierCommande", new { id = cmd.id }, new { onclick = "return confirm('Modifier la commande ?')" })
                }
                @if (cmd.etat.ToString().Equals("nouvelle"))
                {
                    @Html.ActionLink("  Supprimer", "SupprimerCommande", new { id = cmd.id }, new { onclick = "return confirm('Supprimer la commandes ?')" })
                }
            </td>
        </tr>
     }

</table>
