﻿@using GestionRestaurant.Models;
@{
    ViewBag.Title = "Nouvelle Commande";
}
<div class="row">
    <div class="col-md-4">
        <h2>Menu des boissons</h2>
        <p>
            @{Html.RenderAction("MenuBoisson", "Home");}
        </p>
    </div>
    <div class="col-md-4">
        <h2>Menu des plats</h2>
        <p>
            @{Html.RenderAction("MenuPlat", "Home");}
        </p>

    </div>
    <div class="col-md-4">
        <h2>Menu des desserts</h2>
        <p>
            @{Html.RenderAction("MenuDessert", "Home");}
        </p>

    </div>
</div>
<div >
    <h1> Details de la commande :</h1>
    <h2>Table N°: @Session["table"] </h2>
    
        <div id="CmdDetails">  

            @if (Session["cmd"] == null)
            {
                <p>Veuillez ajouter des plats a la commande..</p>
            }
            else
            {
                Html.RenderPartial("_DetailsCommandes", Session["cmd"]);
            }
               


    </div>
    


   
</div>
@{ 
    Session["tableCourante"] = Session["table"];
    Session["table"] = null;
}