﻿
@{
    ViewBag.Title = "Cuisinier";
}

<div class="row">


    <div class="col-md-4" style="width:60%;">
        <h2>Listes des commandes</h2>
        <p>
            @{Html.RenderAction("CommandesCuisinier", "Home");}
        </p>
    </div>
    <div class="col-md-4" style="width:40%; background-color:#d4e9fb; "  >
        <div id="details" ></div>
    </div>

</div>

