﻿
@{
    ViewBag.Title = "Index";
}

<center>
    <div>
        <img class="img-responsive" src="~/Images/RestaurantLogo.png" />
    </div>
    <div class="profile__fields">
        <form action="/Home/Authentification" method="post">
            <div class="field">
                <label for="fieldUser">Nom d'utilisateur</label>
                <input type="text" id="fieldUser" class="input" name="login" />
            </div>
            <div class="field">
                <label for="fieldPassword">Mot de passe</label><br />
                <input type="password" id="fieldPassword" class="input" name="password" />
            </div>
            <div class="profile__footer">
                <button class="btn btn-primary btn-lg" type="submit">Login</button>
            </div>
        </form>

    </div>
</center>
