﻿
@{
    ViewBag.Title = "Tables";
}



<div class="jumbotron">

    <center>

        <div id="CmdDetails"> Selectionner la table pour laquelle vous voulez créer la commande : </div> </br>
        <form action="/Home/Commande" method="post">
            <label for="table">Choisissez une table : </label>
            <select name="table" id="table">
                @for (int i = 0; i < 100; i++)
            {
                    <option value="@(i+1)">@(i + 1)</option>
                }
            </select><br />
            <button type="submit" class="btn btn-primary btn-lg">Continuer >></button>
        </form>

    </center>
</div>

