﻿@model IEnumerable<GestionRestaurant.Models.Produit>
<h2>Details de la commande N:@Session["id"]</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.intitule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantite)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.intitule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantite)
        </td>

    </tr>
}

</table>
