﻿@model IEnumerable<GestionRestaurant.Models.Commande>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serveur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etat)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serveur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.table)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.etat)
                </td>

                <td>
                    @if (item.etat.ToString().Equals("nouvelle"))
                    {
                        @Html.ActionLink("en cours", "ChangerEtatCuisinier", new { id = item.id, etat = item.etat }, new { onclick = "return confirm('Changer l etat de la commande ?')" })
                    }
                    else
                    {
                        @Html.ActionLink("servie", "ChangerEtatCuisinier", new { id = item.id, etat = item.etat }, new { onclick = "return confirm('Changer l etat de la commande ?')" })
                    }
                    |
                    @Ajax.ActionLink("Details", "CommandeCuisinier", new { item.id }, new AjaxOptions
          {
              HttpMethod = "POST", // HttpMethod to use, GET or POST
              UpdateTargetId = "details", // ID of the HTML element to update
              InsertionMode = InsertionMode.Replace // Replace the existing contents
          }


      )
                </td>
            </tr>
        }

    </table>

