﻿@model IEnumerable<GestionRestaurant.Models.Produit>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.intitule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.intitule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Ajax.ActionLink("Supprimer", "Supprimer", new { id = item.id }, new AjaxOptions
       {
           HttpMethod = "POST", // HttpMethod to use, GET or POST
           UpdateTargetId = "CmdDetails", // ID of the HTML element to update
           InsertionMode = InsertionMode.Replace // Replace the existing contents
       })
            |
            @Ajax.ActionLink("Supprimer tout", "SupprimerTout", new { id = item.id }, new AjaxOptions
       {
           HttpMethod = "POST", // HttpMethod to use, GET or POST
           UpdateTargetId = "CmdDetails", // ID of the HTML element to update
           InsertionMode = InsertionMode.Replace // Replace the existing contents
       })
        </td>
    </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td colspan="2">Total : @Session["total"]</td>
    </tr>

</table>

@if (Session["cmd"] != null)
{
    <button type="submit" class="btn">
        <font color="white">  @Html.ActionLink("Valider Commande", "Valider", null, null, new { onclick = "return confirm('Valider la commande ?')" }) </font> 
    </button>
}
