﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ENSAS Restaurant</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/auth.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ENSAS RESTAURANT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["statut"] != null)
                    {
                        if (Session["statut"].ToString().Equals("serveur"))
                        {
                            
                            <li>@Html.ActionLink("Accueil", "Accueil", "Home")</li>
                            <li>@Html.ActionLink("Commandes", "Commandes", "Home")</li>
                            <li>@Html.ActionLink("Nouvelle Commande", "Tables", "Home")</li>
                            <li>@Html.ActionLink("Bilan", "Bilan", "Home")</li>
                            <li>@Html.ActionLink("Deconnexion", "Deconnexion", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Deconnexion", "Deconnexion", "Home")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Made By : Lamkhantar - Tarraq - Nabil - Housni - Bendaoudi - Elfoudani</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>