﻿<table class="table" >
    <tr>
        <th>
            intitule
        </th>
        <th>
            Prix
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.intitule
            </td>
            <td>
                @item.prix
            </td>
            <td>
                @Ajax.ActionLink("Ajouter", "Ajouter", new {id = item.id }, new AjaxOptions
             {
                 HttpMethod = "POST", // HttpMethod to use, GET or POST
                 UpdateTargetId = "CmdDetails", // ID of the HTML element to update
                 InsertionMode = InsertionMode.Replace // Replace the existing contents
             })
            </td>
        </tr>
    }

</table>

